.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.slideri-produktit-lart img {
  max-width: 100%;
  height: auto;
}

.slideri-produktit-posht {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
